<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="pure-menu pure-menu-horizontal custom-menu-1">
        {% if session.user %}
            <a href="{{ url_for('main.index') }}" class="pure-menu-heading pure-menu-link">{{ session.user.given_name }} {{ session.user.family_name }}</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{{ url_for('main.request_access') }}" class="pure-menu-link">Request Customer Access</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('main.request_internal_access') }}" class="pure-menu-link">Request Internal Access</a></li>
                {% if session.is_admin %}
                    <li class="pure-menu-item"><a href="{{ url_for('admin.admin_dashboard') }}" class="pure-menu-link">Admin</a></li>
                {% else %}
                    <li class="pure-menu-item pure-menu-disabled"><a href="#" class="pure-menu-link">Admin</a></li>
                {% endif %}
                <li class="pure-menu-item"><a href="{{ url_for('logout') }}" class="pure-menu-link">Logout</a></li>
            </ul>
        {% endif %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>